<header class="header">
  <div class="header__container">
    <h1 class="header__logo">
      {{link-to "Lebtivity" "application" class="header__logo-link"}}
    </h1>

    <div class="header__create-btn">
      {{link-to "Add an event" "events.new" class="btn btn_color_green"}}
    </div>
  </div>
</header>

{{outlet}}
