.btn {
  display: block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s linear;
}

.btn_color_green {
  background-image: linear-gradient(#79be00, #5d9400);

  &:hover {
    background-image: linear-gradient(#68a000, #6faa00);
  }
}
